# Operadores en R

Los operadores son los símbolos que le indican a R que debe realizar una tarea. Combinando datos y operadores es que logramos que R haga su trabajo.

Existen operadores específicos para cada tipo de tarea. Los tipos de operadores principales son los siguientes:

1. Aritméticos
2. Relacionales
3. Lógicos
4. De asignación

Familiarizarnos con los operadores nos permitirá manipular y transformar datos de distintos tipos.

## 1. Operadores aritméticos
Como su nombre lo indica, este tipo de operador es usado para operaciones aritméticas.

En R tenemos los siguientes operadores aritméticos:

<table>
<thead>
<tr class="header">
<th>Operador</th>
<th>Operación</th>
<th>Ejemplo</th>
<th>Resultado</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td><code>+</code></td>
<td>Suma</td>
<td><code>5 + 3</code></td>
<td>8</td>
</tr>
<tr class="even">
<td><code>-</code></td>
<td>Resta</td>
<td><code>5 - 3</code></td>
<td>2</td>
</tr>
<tr class="odd">
<td><code>*</code></td>
<td>Multiplicación</td>
<td><code>5 * 3</code></td>
<td>15</td>
</tr>
<tr class="even">
<td><code>/</code></td>
<td>División</td>
<td><code>5 /3</code></td>
<td>1.666667</td>
</tr>
<tr class="odd">
<td><code>^</code></td>
<td>Potencia</td>
<td><code>5 ^ 3</code></td>
<td>125</td>
</tr>
<tr class="even">
<td><code>%/%</code></td>
<td>División entera</td>
<td><code>5 %/% 3</code></td>
<td>1</td>
</tr>
<tr class="odd">
<td><code>%%</code></td>
<td>Residuo</td>
<td><code>5 %% 3</code></td>
<td>2</td>
</tr>
</tbody>
</table>

In [ ]:
a <- 5
b <- 3 

c <- a * b
d <- a / b

print(c)
print(d)

En vectores se aplica el operador a cada elemento

In [ ]:
a <-c(1,2,3)
b <- a+2
c <- a*2
d <- a^2

print(a)
print(b)
print(c)
print(d)

In [ ]:
a <- c("Pedro","Enrique","Samuel")
b <- c(168,175,180)

nombre_estatura<-data.frame("nombres"=a,"estatura"=b)
nombre_estatura

In [ ]:
nombre_estatura$estatura=nombre_estatura$estatura/100
nombre_estatura

## 2. Operadores Relacionales

Son usados para hacer comparaciones y siempre devuelven como resultado TRUE o FALSE 

<table>
<thead>
<tr class="header">
<th>Operador</th>
<th>Comparación</th>
<th>Ejemplo</th>
<th>Resultado</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td><code>&lt;</code></td>
<td>Menor que</td>
<td><code>5 &lt; 3</code></td>
<td><code>FALSE</code></td>
</tr>
<tr class="even">
<td><code>&lt;=</code></td>
<td>Menor o igual que</td>
<td><code>5 &lt;= 3</code></td>
<td><code>FALSE</code></td>
</tr>
<tr class="odd">
<td><code>&gt;</code></td>
<td>Mayor que</td>
<td><code>5 &gt; 3</code></td>
<td><code>TRUE</code></td>
</tr>
<tr class="even">
<td><code>&gt;=</code></td>
<td>Mayor o igual que</td>
<td><code>5 &gt;= 3</code></td>
<td><code>TRUE</code></td>
</tr>
<tr class="odd">
<td><code>==</code></td>
<td>Exactamente igual que</td>
<td><code>5 == 3</code></td>
<td><code>FALSE</code></td>
</tr>
<tr class="even">
<td><code>!=</code></td>
<td>Es diferente que</td>
<td><code>5 != 3</code></td>
<td><code>TRUE</code></td>
</tr>
</tbody>
</table>

In [ ]:
a <- 5<3
b <- 4>2
c <- 8==2

print(a)
print(b)
print(c)

In [ ]:
d <- c(1,2,3) > 2
print(d)

In [ ]:
#tienen que ser de la misma dimensión
e <- c(1,8,3)
f <- c(4,5,6)

e > f

en caso de cadenas de texto compara el orden alfabético. Por ejemplo

In [ ]:
a <- "Andrea"
b <- "Carmen"

a > b
a < b

In [ ]:
d <- c("Alvarez","Bustamante","Delgado") 
print(d < "Carrasco")

In [ ]:
"aa" != "bb"
"aa" == "bb"

## 3. Operadores lógicos
Los operadores lógicos son usados para operaciones de álgebra Booleana, es decir, el operador tiene como dominio y rango los valores de TRUE o FALSE.

<table>
<thead>
<tr class="header">
<th>Operador</th>
<th>Comparación</th>
<th>Ejemplo</th>
<th>Resultado</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td><code>x | y</code></td>
<td> $x \vee y$ </td>
<td><code>TRUE | FALSE</code></td>
<td><code>TRUE</code></td>
</tr>
<tr class="even">
<td><code>x &amp; y</code></td>
<td>$ x \land y$</td>
<td><code>TRUE &amp; FALSE</code></td>
<td><code>FALSE</code></td>
</tr>
<tr class="odd">
<td><code>!x</code></td>
<td>$\sim x$</td>
<td><code>!TRUE</code></td>
<td><code>FALSE</code></td>
</tr>
<tr class="even">
<td><code>isTRUE(x)</code></td>
<td>¿es verdadero?</td>
<td><code>isTRUE(TRUE)</code></td>
<td><code>TRUE</code></td>
</tr>
</tbody>
</table>

Los resultados de los operadores lógicos se pueden mostar en la siguiente tabla de verdad

<table class="tg">
<thead>
  <tr>
    <th class="tg-fymr">p</th>
    <th class="tg-fymr">q</th>
    <th class="tg-fymr">p $\vee$ q</th>
    <th class="tg-fymr">p $\land$ q</th>
    <th class="tg-fymr">$\sim$ p</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td class="tg-c3ow">V</td>
    <td class="tg-c3ow">V</td>
    <td class="tg-c3ow">V</td>
    <td class="tg-c3ow">V</td>
    <td class="tg-c3ow">F</td>
  </tr>
  <tr>
    <td class="tg-c3ow">V</td>
    <td class="tg-c3ow">F</td>
    <td class="tg-c3ow">F</td>
    <td class="tg-c3ow">V</td>
    <td class="tg-c3ow">F</td>
  </tr>
  <tr>
    <td class="tg-c3ow">F</td>
    <td class="tg-c3ow">V</td>
    <td class="tg-c3ow">F</td>
    <td class="tg-c3ow">V</td>
    <td class="tg-c3ow">V</td>
  </tr>
  <tr>
    <td class="tg-c3ow">F</td>
    <td class="tg-c3ow">F</td>
    <td class="tg-c3ow">F</td>
    <td class="tg-c3ow">F</td>
    <td class="tg-c3ow">V</td>
  </tr>
</tbody>
</table>

De donde observamos 
* |: solo devuelve FALSE si ambos datos son FALSE
* &: amp solo devuelve TRUE si ambos datos es TRUE

In [ ]:
a <- TRUE
b <- FALSE

print(a & b)

In [ ]:
c <- c(TRUE, FALSE , FALSE)

print(c | TRUE)

In [ ]:
d <- 7.32
e <- "hola"
f <- FALSE
g <- TRUE

isTRUE(d)
isTRUE(e)
isTRUE(f)
isTRUE(g)

In [ ]:
h <- 5.15
i <- 0

print (h & TRUE)
print (i & TRUE)

## 4. Operadores de asignación
Este es probablemente el operador más importante de todos, pues nos permite asignar datos a variables.

<table>
<thead>
<tr>
<th>Operador</th>
<th>Operación</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>&lt;-</code></td>
<td>Asigna un valor a una variable. La variable se encuentra a la izquierda y el valor a la derecha</td>
</tr>
<tr>
<td><code>-></code></td>
<td>Asigna un valor a una variable. La variable se encuentra a la derecha y el valor a la izquierda</td>
</tr>
<tr>
<td><code>=</code></td>
<td>Asigna un valor a una variable. La variable se encuentra a la izquierda y el valor a la derecha</td>
</tr>
</tbody>
</table>

Aunque podemos usar los 3 signos para una asignación, se acostumbra y se recomienda usar <- por ser característico de R y fácil de reconocer visualmente.

In [ ]:
aa <- 2
2 -> bb
cc = 2 

print(aa)
print(bb)
print(cc)

## 5. Orden de operaciones

En la tabla siguiente se presenta el orden en que ocurren las operaciones que hemos revisado en este capítulo.

<table>
<thead>
<tr class="header">
<th>Orden</th>
<th>Operadores</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td>1</td>
<td><code>^</code></td>
</tr>
<tr class="even">
<td>2</td>
<td><code>*</code> <code>/</code></td>
</tr>
<tr class="odd">
<td>3</td>
<td><code>+</code> <code>-</code></td>
</tr>
<tr class="even">
<td>4</td>
<td><code>&lt;</code> <code>&gt;</code> <code>&lt;=</code> <code>&gt;=</code> <code>==</code> <code>!=</code></td>
</tr>
<tr class="odd">
<td>5</td>
<td><code>!</code></td>
</tr>
<tr class="even">
<td>6</td>
<td><code>&amp;</code></td>
</tr>
<tr class="odd">
<td>7</td>
<td><code>|</code></td>
</tr>
<tr class="even">
<td>8</td>
<td><code>&lt;-</code></td>
</tr>
</tbody>
</table>

Si deseamos que una operación ocurra antes que otra, rompiendo este orden de evaluación, usamos paréntesis.

In [ ]:
a <--5^2
print(a)

In [ ]:
b <- 5+ 2>3
print(b)

In [ ]:
FALSE & FALSE | TRUE

In [ ]:
(FALSE & FALSE) | TRUE
FALSE & (FALSE | TRUE)